WCFProject_CE041_CE042/EBankingClient/Connected Services/ServiceReference1/EmployeeService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EmployeeService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:53213/EmployeeService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:53213/EmployeeService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EBankingServices" />
      <xsd:import schemaLocation="http://localhost:53213/EmployeeService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEmployeeService_InsertEmpDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertEmpDetails" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_InsertEmpDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertEmpDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_InsertEmpDetails_ExceptionMessageFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/EBankingServices" name="detail" element="q1:ExceptionMessage" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetEmployees_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployees" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetEmployees_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeesResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_GetEmployees_ExceptionMessageFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/EBankingServices" name="detail" element="q2:ExceptionMessage" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_UpdateEmpDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmpDetails" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_UpdateEmpDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEmpDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_UpdateEmpDetails_ExceptionMessageFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/EBankingServices" name="detail" element="q3:ExceptionMessage" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_DeleteEmpDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmpDetails" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_DeleteEmpDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEmpDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IEmployeeService_DeleteEmpDetails_ExceptionMessageFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/EBankingServices" name="detail" element="q4:ExceptionMessage" />
  </wsdl:message>
  <wsdl:portType name="IEmployeeService">
    <wsdl:operation name="InsertEmpDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/InsertEmpDetails" message="tns:IEmployeeService_InsertEmpDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/InsertEmpDetailsResponse" message="tns:IEmployeeService_InsertEmpDetails_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmployeeService/InsertEmpDetailsExceptionMessageFault" name="ExceptionMessageFault" message="tns:IEmployeeService_InsertEmpDetails_ExceptionMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployees">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/GetEmployees" message="tns:IEmployeeService_GetEmployees_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/GetEmployeesResponse" message="tns:IEmployeeService_GetEmployees_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmployeeService/GetEmployeesExceptionMessageFault" name="ExceptionMessageFault" message="tns:IEmployeeService_GetEmployees_ExceptionMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEmpDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/UpdateEmpDetails" message="tns:IEmployeeService_UpdateEmpDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/UpdateEmpDetailsResponse" message="tns:IEmployeeService_UpdateEmpDetails_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmployeeService/UpdateEmpDetailsExceptionMessageFault" name="ExceptionMessageFault" message="tns:IEmployeeService_UpdateEmpDetails_ExceptionMessageFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEmpDetails">
      <wsdl:input wsaw:Action="http://tempuri.org/IEmployeeService/DeleteEmpDetails" message="tns:IEmployeeService_DeleteEmpDetails_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEmployeeService/DeleteEmpDetailsResponse" message="tns:IEmployeeService_DeleteEmpDetails_OutputMessage" />
      <wsdl:fault wsaw:Action="http://tempuri.org/IEmployeeService/DeleteEmpDetailsExceptionMessageFault" name="ExceptionMessageFault" message="tns:IEmployeeService_DeleteEmpDetails_ExceptionMessageFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEmployeeService" type="tns:IEmployeeService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertEmpDetails">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/InsertEmpDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionMessageFault">
        <soap:fault use="literal" name="ExceptionMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetEmployees">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/GetEmployees" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionMessageFault">
        <soap:fault use="literal" name="ExceptionMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="UpdateEmpDetails">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/UpdateEmpDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionMessageFault">
        <soap:fault use="literal" name="ExceptionMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="DeleteEmpDetails">
      <soap:operation soapAction="http://tempuri.org/IEmployeeService/DeleteEmpDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ExceptionMessageFault">
        <soap:fault use="literal" name="ExceptionMessageFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EmployeeService">
    <wsdl:port name="BasicHttpBinding_IEmployeeService" binding="tns:BasicHttpBinding_IEmployeeService">
      <soap:address location="http://localhost:53213/EmployeeService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>