WCFProject_CE041_CE042/EBankingClient/Connected Services/ServiceReference3/TransactionService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:53213/TransactionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/EBankingServices" />
  <xs:element name="DoTransac">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/EBankingServices" minOccurs="0" name="ts" nillable="true" type="q1:Transaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoTransacResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DoTransacResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>