E-Banking_Client/Connected Services/ServiceReference2/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/E_Banking" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/E_Banking" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Employees">
    <xs:sequence>
      <xs:element minOccurs="0" name="DeptId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DeptName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmpId" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Salary" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Employees" nillable="true" type="tns:Employees" />
  <xs:complexType name="ExceptionMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="errorMessageOfAction" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ExceptionMessage" nillable="true" type="tns:ExceptionMessage" />
  <xs:complexType name="ArrayOfEmployees">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Employees" nillable="true" type="tns:Employees" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmployees" nillable="true" type="tns:ArrayOfEmployees" />
</xs:schema>